[build]
  command = "npm run build"
  publish = "build"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

[dev]
  command = "npm start"
  targetPort = 3000
  autoLaunch = false

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
